<% content_for :title, "메인 | #{@user.name}님의 대시보드" %>
<% content_for :main_class, "--fixed" %>

<div class="row">

  <%= render partial: "shared/sidebar", locals: { user: @user, is_edit: false } %>

  <div class="col-lg-9 height--max">
    <section class="dashboard-section"
      style="margin-bottom: 40px">
      
      <header class="dashboard-section__header">
        <h1>
          수강중인 수업
          <span aria-label="<%= @ongoing_courses.length %>개">
            <%= @ongoing_courses.length %>
          </span>
        </h1>
      </header>

      <div class="dashboard__content"
        style="height: 438px;">
        <ul class="dash__courses">
          <% @ongoing_courses.each do |c| %>
            <%= render partial: "course_item", locals: { c: c } %>
          <% end %>  
        </ul>
      </div>
    </section>
  
    <section class="dashboard-section height--max">
      <header class="dashboard-section__header">
        <h1>
          지난 수업
          <span aria-label="<%= @completed_courses.length %>개">
            <%= @completed_courses.length %>
          </span>
        </h1>
      </header>
      <div class="dashboard__content">
        <ul class="dash__courses completed">

          <% @completed_courses.each do |course| %>
            <li class="dash__course">
              <article>
                <%= link_to course_path(course) do %>
                  <h1>
                    <%= course.title %>
                  </h1>
                  <p>
                    <%= course.course_category_str %>  |  <%= course.course_level_str %>
                  </p>
                <% end %>
              </article>
            </li>
          <% end %>

        </ul>
      </div>
    </section>
  </div>
</div>