<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form__radio">
    <p class="form__label">사용자 유형</p>
    <%= f.radio_button :user_type, 0, class: "form__radio-btn" %>
    <%= f.label :user_type, '학생', :value => 0 , class: "form__label--radio" %>
    <%= f.radio_button :user_type, 1, :checked => true, class: "form__radio-btn" %>
    <%= f.label :user_type, '선생님', :value => 1, class: "form__label--radio" %>
  </div>
  <div class="form__item">
    <%= f.label :name, '이름', class: "form__label" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "off", class: "form__input" %>
  </div>

  <div class="form__item">
    <%= f.label :email, '이메일', class: "form__label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
  </div>

  <div class="form__item">
    <%= f.label :password, class: "form__label" do %>
      <% if @minimum_password_length %>
        비밀번호
        <em class="form__meta-text">최소 <%= @minimum_password_length %>자리 이상</em>
      <% end %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form__input" %>
  </div>

  <div class="form__item">
    <%= f.label :password_confirmation, '비밀번호 확인', class: "form__label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form__input" %>
  </div>

  <div class="form__item">
    <%= f.label :department, '학부', class: "form__label" %>
    <%= select_tag :department,
      options_for_select({
        '국제인문학부' => 0,
        '사회과학부' => 1,
        '지식융합학부' => 2,
        '자연과학부' => 3,
        '공학부' => 4,
        '경제학부' => 5,
        '경영학부' => 6,
        '커뮤니케이션학부' => 7,
        '법학부' => 8
      }, 0),
      class: "form__input" %>
  </div>

  <div class="form__item">
    <%= f.label :phone_number, '휴대 전화 번호', class: "form__label" %>
    <%= f.text_field :phone_number, autocomplete: "off", class: "form__input" %>
  </div>

  <div class="form__submit">
    <%= f.submit "회원가입하기", class: "form__submit btn--default" %>
  </div>

<% end %>



