<header class="dashboard-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="dashboard-yay">
          <%= link_to root_path do %>
            <%= image_tag "logo-dashboard.svg", alt: "Yay" %>
          <% end %>
        </h1>
        <div class="d-flex align-items-center">
          <% if user_signed_in? %>
            <%= render partial: "shared/user_profile", locals: { u: current_user, alt: true } %>
            

            <div id="profile-menu">
              <%= link_to "마이페이지", @user, class: "btn--menu" %>
              <%= link_to "로그아웃", destroy_session_path(:user), :method => :delete, class: "btn--menu" %>
            </div>

            <script>
              (function() {
                var profileImageButton = document.querySelector(".dashboard-header [class*="user__img"]");
                var profileMenu = document.getElementById("profile-menu");

                profileImageButton.addEventListener("click", toggleProfileMenu);

                function toggleProfileMenu () {
                  profileMenu.classList.toggle("active");
                  profileImageButton.classList.toggle("active");
                }
              })()
            </script>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>