<div class="col-lg-3">
  <aside class="sidebar">
    <header class="sidebar__header">
      <div class="sidebar__user-image">
        <% if user.profile.present? %>
          <%= image_tag user.profile.url%>
        <% else %>
          <p aria-hidden="true">
            <%= user.name[0] %>
          </p>
        <% end %>
      </div>
      <h1>
        <%= user.name %>님, 안녕하세요!
      </h1>
      <p>
        <%= user.student? ? "학생" : "선생님" %> / <%= user.user_department_str %>
        <% if !is_edit  %>
          <%= link_to edit_user_registration_path(user), class: "btn--icon btn--settings" do %>
            프로필 수정하기
          <% end %>
        <% end %>
      </p>
    </header>
    <% if user.teacher? %>
      <%= link_to '수업 개설하기', new_course_path, class: "btn--default btn--large" %>
    <% end %>
  </aside>
</div>
