<%= render "shared/static-header" %>

<main>
  <section class="sign-in">
    <div class="container">
      <div class="row justify-content-center">
        <header class="col-12">
          <h1>
            로그인
          </h1>
        </header>
        <section class="col-12 col-sm-10 col-md-8">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          
            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </section>
</main>

<%= render "devise/shared/links" %>
