<article class="form__section--nested">
  <h1 class="sr-only">평가항목 추가하기</h1>
  <div class="form__item nested-fields">
    <%= f.label :title, "평가 항목", class: "form__label" %>
    <%= f.text_field :title, autocomplete: "off", class: "form__input" %>
    <%= f.label :description, "평가 내용", class: "form__label mt-16" %>
    <%= f.text_field :description, autocomplete: "off", class: "form__input mb-16" %>
    <%= link_to_remove_association "평가항목 삭제하기", f, class: "ui--accent" %>
  </div>

</article>
