<div class="row flex--freeze">
  <div class="col-9">
    <header class="dashboard__header">
      <h1>
        <%= course.title %>
      </h1>
    </header>
  </div>

  <div class="col-12 mt-24">
    <%= render partial: "course_detail", locals: { course: course, enrolled_students: @enrolled_students } %>
  </div>
</div>
  
<div class="row"
  style="flex-grow: 1">

  <div class="col-lg-9 height--max">

    <section class="dashboard-section height--max">
      <header class="dashboard-section__header">
        <h1>
          평가 항목
          <span>
            <%= course.requirements.count %>
          </span>
        </h1>
      </header>

      <div class="dashboard__content height--max"
        style="flex-grow: 1">
        <ul class="user__list">
          
          <% course.requirements.each do |r| %>
            <li class="user__item">
              <article class="user__wrap">
                <div>
                  <h1>
                    <%= r.title %>
                  </h1>
                  <p class="ui--secondary-text mt-1">
                    <%= r.description %>
                  </p>
                </div>
                <% if assignment_status?(r, user) %>
                  <p class="user__status--completed">제출</p>
                <% else %>
                  <p class="user__status">미제출</p>
                <% end %>
              </article>
            </li>
          <% end %>
        
        </ul>
      </div>
    </section>

  </div>

  <div class="col-lg-3 height--max active"
    id="panel">
    <section class="dashboard-section height--max">
      <header class="dashboard-section__header">
        <h1>
          수강생 목록
          <span>
            <%= @enrolled_students.count %>
          </span>
        </h1>
      </header>

      

      <div class="dashboard__content">
        <ul class="user__list">

          <% if @enrolled_students.count == 0 %>

            <p class="ui--secondary pt-16 pb-16 text-center">
              수강생이 아직 없습니다.
            </p>

          <% else %>

            <ul class="panel__list">

              <% @enrolled_students.each do |stu| %>

                <li class="panel__item">
                  <%= render partial: "panel_item", locals: { stu: stu } %>
                </li>

              <% end %>
              
            </ul>

          <% end %>

        </ul>
      </div>
    </section>
  </div>

</div>
  
  