<div class="row flex--freeze">
  <div class="col-9">
    <header class="dashboard__header">
      <h1>
        <%= course.title %>
        <%= link_to edit_course_path(course), class: "btn--icon btn--settings" do %>
          수업 수정하기
        <% end %>
      </h1>
    </header>
  </div>

  <div class="col-3">
    <button type="button"
      class="btn--default btn--large"
      id="btn-add-student">
      평가항목 수정하기
    </button>
  </div>

  <div class="col-12 mt-24">
    <%= render partial: "course_detail", locals: { course: course, enrolled_students: @enrolled_students } %>
  </div>
</div>

<div class="row"
  style="flex-grow: 1">

  <div class="col-lg-9 height--max"
    id="enrolled-students">

    <section class="dashboard-section height--max">
      <header class="dashboard-section__header">
        <h1>
          수강생 대시보드
          <span>
            <%= @enrolled_students.count %>
          </span>
        </h1>
      </header>

      <div class="dashboard__content height--max pb-32"
        style="flex-grow: 1">
        <% if @enrolled_students.empty? %>
          <p class="ui--secondary pt-40 text-center">
            수강생이 없습니다.
          </p>
        <% else %>

          <ul class="user__list">
            <% @enrolled_students.each do |stu| %>

              <li class="user__item">

                <article class="user">

                  <header class="user__header">
                    <% if stu.profile.url %>
                      <p class="user__img"
                        aria-hidden="true">
                        <%= image_tag stu.profile.url %>
                      </p>
                    <% else %>
                      <p class="user__img--placeholder"
                        aria-hidden="true">
                        <%= stu.name[0] %>
                      </p>
                    <% end %>

                    <h1>
                      <%= stu.name %>
                    </h1>
                    <p class="ui--secondary">
                      서강대학교 / <%= stu.user_department_str %>
                    </p>
                  </header>

                  <section class="user__content">
                    <ul class="user__assignments">

                      <% course.requirements.each do |r| %>
                        <%= render partial: "assignment", locals: { stu: stu, r: r } %>
                      <% end %>

                    </ul>

                    <footer>
                      <%= link_to '이 수강생을 목록에서 제거', minus_student_course_user_path(course.id, stu.id), class: "ui--accent" %>
                    </footer>
                  </section>
                </article>


              </li>
            <% end %>

          </ul>
        <% end %>
      </div>
    </section>

  </div>

  <div class="col-lg-3 height--max">
    <section class="dashboard-section height--max"
      id="panel">

      <header class="dashboard-section__header">
        <h1>
          수강생 추가하기
          <span>
            <%= students.count %>
          </span>
        </h1>
      </header>

      <div class="dashboard__content">

          <% if students.count == 0 %>

            <p class="ui--secondary pt-16 pb-16 text-center">
              추가 가능한 학생이 없습니다.
            </p>

          <% else %>

            <ul class="panel__list">

              <% students.each do |stu| %>

                <li class="panel__item">
                  <%= link_to add_student_course_user_path(course.id, stu.id) do %>
                    <%= render partial: "panel_item", locals: { stu: stu } %>
                  <% end %>
                </li>

              <% end %>

            </ul>

          <% end %>
          
      </div>
    </section>
  </div>

</div>


<script>
  (function() {
    var userItems = document.querySelectorAll("#enrolled-students .user__header");
    var parentItems = {};
    var activeUserItem = null;

    Array.prototype.slice.call(userItems);

    userItems.forEach(function(item, index) {
      item.addEventListener("click", function() {
        toggleListItem(this, index, "active")
      });
    })

    function generateId (index) {
      return "id" + index;
    }

    function toggleListItem (elm, index, classname) {
      var id = generateId(index)
      var parentNode;
      var parentNodeClassList;

      if (parentItems[id]) {
        parentNode = parentItems[id]
      } else {
        parentNode = elm.parentNode;
        parentItems[id] = parentNode;
      }

      parentNodeClassList = parentNode.classList;

      parentNodeClassList.toggle(classname);

      if (activeUserItem == null) activeUserItem = index;
      else if (activeUserItem === index) activeUserItem = null;
      else {
        parentItems[generateId(activeUserItem)].classList.toggle(classname);
        activeUserItem = index;
      }

    }


  })()
</script>
