<div class="row pb-4"
  id="course-new">
  <div class="col-12 mb-5">
    <header class="dash-header">
      <h1><%= course.title %></h1>
      <button type="button"
        class="btn--default">
        수강생 추가하기
      </button>
      <div class="dash-header__detail">
        <dl>
          <dt>분야</dt>
          <dd>
            <%= course.category %>
          </dd>
        </dl>

        <dl>
          <dt>학점</dt>
          <dd>
            <%= course.credit %>
          </dd>
        </dl>

        <dl>
          <dt>레벨</dt>
          <dd>
            <%= course.level %>
          </dd>
        </dl>

        <dl>
          <dt>수강인원</dt>
          <dd>
            <%= @enrolled_students.count %> / <%= course.capacity %>
          </dd>
        </dl>


        <dl>
          <dt>목표</dt>
          <dd>
            <%= course.description %>
          </dd>
        </dl>
      </div>
    </header>
  </div>
  <div class="col-lg-9">
    <section class="dash-section d-flex flex-column">
      <header class="dash-section__header">
        <h1>
          수강생 대시보드
        </h1>
      </header>
      <div class="dash-section__content">
        <% course.users.where(user_type: 0).each do |stu| %>
          <%= stu.name%>
          <%= link_to '[x]', minus_student_course_user_path(course.id, stu.id)%>
          <br />
       <% end %>
      </div>
    </section>
  </div>
</div>

<section>

  <h1>수강생을 추가하는 모달</h1>
  <div>
    <% students.each do |student| %>
      <%= link_to add_student_course_user_path(course.id, student.id) do %>
        <%= student.name %>
      <% end %>
      </p>
    <% end %>
  </div>


</section>
