<li class="user__item">

  <article class="user">

    <header class="user__header enrolled">
      <div class="user__info">
        <%= render partial: "shared/user_profile", locals: { u: stu, alt: false } %>

        <h1>
          <%= stu.name %>
        </h1>
        <p class="ui--secondary">
          서강대학교 / <%= stu.user_department_str %>
        </p>
      </div>

      <p class="user__total">
        <%= how_much_completed?(course, stu) %> / <%= course.requirements.count %>
      </p>
    </header>

    <section class="user__content">
      <ul class="user__assignments">

        <% course.requirements.each do |r| %>
          <%= render partial: "assignment", locals: { stu: stu, r: r, status: status } %>
        <% end %>

      </ul>

      <% if status == "ongoing" %>
        <footer>
          <%= link_to "이 수강생을 목록에서 제거", minus_student_course_user_path(course.id, stu.id), class: "ui--accent" %>
        </footer>
      <% end %>
    </section>
  </article>


</li>