<% content_for :title, "수업보기 | #{current_user.name}님의 대시보드" %>

<% content_for :main_class, "--fixed" %>

<div class="row flex--freeze">
  <div class="col-9">
    <header class="dashboard__header">
      <h1>
        수강신청
      </h1>
    </header>
  </div>
</div>

<div class="row"
  style="flex-grow: 1">

  <div class="col-md-9 height--max">

    <section class="dashboard-section height--max">
      <header class="dashboard-section__header">
        <h1>
          수업 목록
          <span>
            <%= @courses.count %>
          </span>
        </h1>
      </header>

      <div class="dashboard__content height--max"
        style="flex-grow: 1">
        <ul class="dash__courses">
          <% @courses.each do |course| %>
          
            <li class="dash__course">
              <article>
                <%= link_to course_path(course) do %>
                  <h1>
                    <%= course.title %>
                  </h1>
                  <p>
                    <em>
                      <%= course.users.where(id: current_user.id) ? "수강중" : "" %>
                    </em>
                    <span>
                      <%= course.course_category_str %>  |  <%= course.course_level_str %>
                    </span>
                  </p>
                <% end %>
              </article>
            </li>
          <% end %>

        </ul>
      </div>
    </section>

  </div>
  
</div>
  
  
