<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>
      <%= content_for(:title) || "함께 하면 좋은 사람들, Yay!" %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="dashboard<%= content_for(:main_class) || "" %>">
    <%= render "shared/dashboard-header" %>
    
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
